.image-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* The 0 means put 0 pixels between each row */
    grid-gap: 0 10px;
    /* Allocate the space (height) to each row */
    grid-auto-rows: 150px; 
}


.image-list img{
    width: 250px;
    /* make sure each image takes 2 spans...still not perfect */
    grid-row-end: span 2;
}